@model MeetingRoomChooseAvailableSlotViewModel


<form method="get">
    <div class="form-group">
        <label asp-for="Name">Available Rooms</label>
        <select asp-for="Name" class="form-control" id="exampleFormControlSelect1">
            <option>Pick a Room</option>
            @foreach (var slot in Model.AvailableSlots)
            {
                <option>@slot.Key</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Check</button>
</form>
@if (Model.Name != null)
{
    <form method="get">
        <div class="form-group">
            <label asp-for="ChosenSchedule">Available Slots</label>
            <select asp-for="ChosenSchedule" class="form-control" id="exampleFormControlSelect1">
                <option>Pick a Slot</option>
                @foreach (var slot in Model.AvailableSlots[$"{Model.Name}"])
                {
                    <option>@Model.Name-@slot.From.ToString()-@slot.To.ToString()</option>
                }
            </select>
        </div>
    <button type="submit" class="btn btn-primary">Book</button>
</form>
}


